{% extends "mspviz/base.html" %}
{% load staticfiles %}


{% block addstyles %}
<style type="text/css">

	#map-scotland path{
		fill: #bbb;
		stroke: #fff;
	}
	#map-scotland path:hover{
		cursor:pointer;
		fill: #59B459;
	}
	
</style>
{% endblock %}


{% block content %}

	<div id="mapcontainer" style="float:right;">
	
	
	</div>

	{% if districts %}
		<ul>
			{% for district in districts %}
				<li>
					<a href="/mspviz/area/{{district.id}}">{{district.districtName}}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	
	
	<script type="text/javascript">	
	
	<!--
	var fileuri = '{% static 'data/geo/scotconstmin.geojson' %}';
	
	var width = 900;
    var height = Math.round(width*1.1);

	var svg = d3.select("#mapcontainer").append("svg")
		.attr("id", 'map-scotland')
	    .attr("width", width)
	    .attr("height", height);
	
	var projection = d3.geo.albers()
	    .center([0, 57.7])
	    .rotate([4, 0])
	    .parallels([50, 60])
	    .scale(width*10)
	    .translate([width / 2, height / 2]);
	
	var path = d3.geo.path()
    	.projection(projection);
	
	d3.json(fileuri, function(error, scot) {
		  svg.selectAll("path")
		  	.data(scot['features'])
		  	.enter().append("path")
		      .attr("title", function(d){ return d.properties.NAME;})
		      .attr("class", function(d){ return d.properties.NAME;})
		      .attr("d", path);
	});
	
	
	//-->
	</script>
	<p>Contains public sector information licensed under the Open Government Licence v2.0.</p>
{% endblock %}